:root {
  --color-mushroom: rgba(162, 125, 197, 0.2);
  --color-ivy: rgba(185, 202, 83, 0.2);
  --color-toad: rgba(169, 154, 128, 0.2);
  --color-chicken-foot: rgba(190, 166, 82, 0.2);
  --color-flower: rgba(105, 133, 189, 0.2);
  --color-mandrake: rgba(151, 146, 112, 0.2);
  --color-scorpion: rgba(206, 112, 71, 0.2);
  --color-crow-feather: rgba(142, 158, 169, 0.2);
  --color-dilimiter-line: rgba(170, 170, 170, 0.5);

  --opacity-images: 0.8;
}
